/* You can add global styles to this file, and also import other style files */
@use "~@angular/material" as mat;
@import "~@angular/material/theming";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
}

app-settings {
  mat-card.mat-card {
    border-width: 8px;
    border-radius: 32px;
    background-color: white;
  }
}
